@import '@fontsource/vazirmatn/400.css';
@import '@fontsource/vazirmatn/600.css';
@import '@fontsource/vazirmatn/700.css';
@import "tailwindcss";

@theme {
  --font-family-vazirmatn: 'Vazirmatn', sans-serif;
}

body {
  font-family: var(--font-family-vazirmatn);
}

